*.class
*.log
.history
.DS_Store
.cache
.classpath
.project
.settings/
.metadata
report.xml
# sbt specific
target/
tags/
project/boot/
project/plugins/project/
attic/
cs
sites
misc
build.sbt
*Old.scala
*Old.java
*.bak
jsk*
workspace
doc/temp/
project/repo