*.class
*.log
.history
.DS_Store
.cache
.classpath
.project
.settings/
.metadata
# sbt specific
target/
tags/
project/boot/
project/plugins/project/
attic/
cs
sites
misc
build.sbt
appo
wiki
*Old.scala
*Old.java
jsk
workspace
