build.sbt
*.build
*.class
*.log
*.bak
.history
.DS_Store
.cache
.classpath
.project
.settings/
.metadata
report.xml
run.bat
run.sh
populate.done
# sbt specific
api/scaffolds/cselement/default.properties
api/scaffolds/layout/default.properties
api/scaffolds/template/default.properties
target/
project/boot/
project/repo/
project/ivy2/
project/plugins/project/
doc/temp/
