// versions (currently only valid values are 11g or 7.6)
wcsVersion in ThisBuild := "11g"

// home directory of WCS
wcsHome in ThisBuild := "/Developer/Fatwire/JSK/11.1.1.6.0.app/ContentServer/11.1.1.6.0/"

// webapp directory of WCS
wcsWebapp in ThisBuild := "/Developer/Fatwire/JSK/11.1.1.6.0.app/App_Server/apache-tomcat-6.0.32/webapps/cs/"

// location of the csdt-client jar
wcsCsdtJar in ThisBuild := "/Developer/Fatwire/JSK/11.1.1.6.0.app/ContentServer/11.1.1.6.0/csdt-client-1.2.jar"

//url to content server
wcsUrl in ThisBuild := "http://localhost:8080/cs/"

// site to import/export
wcsSites in ThisBuild := "Demo"

// user to import/export
wcsUser in ThisBuild := "fwadmin"

// password to import/export
wcsPassword in ThisBuild := "xceladmin"

// scalacOptions += "-deprecation"

