/// Configuration Parameters for Sites 

// site names to import/export
// NOTE: if you change this you need to repeat the offline and online setup
// See http://www.agilesites.org/install.html
wcsSites in ThisBuild := "Demo"

// url to content server - NO slashes at the end please 
// the url must allow access to ContentServer, CatalogManager and Satellite
wcsUrl in ThisBuild := "http://localhost:8080/cs"

// user to import/export
wcsUser in ThisBuild := "fwadmin"

// password to import/export
wcsPassword in ThisBuild := "xceladmin"

// versions (currently only valid values are 11g or 7.6)
wcsVersion in ThisBuild := "11g"

// home directory of WCS - leave it to
wcsHome in ThisBuild := "c:/Oracle/WebCenter/Sites/11gR1/Sites/11.1.1.6.1"

// shared folder
wcsShared in ThisBuild := "c:/Oracle/WebCenter/Sites/11gR1/Sites/11.1.1.6.1/Shared"

// webapp directory of WebCenter Sites 
wcsWebapp in ThisBuild := "c:/Oracle/WebCenter/Sites/11gR1/App_Server/apache-tomcat-6.0.32/webapps/cs/"

// location of the csdt-client jar
wcsCsdtJar in ThisBuild := "c:/Oracle/WebCenter/Sites/11gR1/Sites/11.1.1.6.1/csdt-client-1.2.2.jar"

/// Configurations options for front-end Satellite and proxy
/// "wcs-setup-offline satellite" must be run in the separate satellite host

// webapp directory of Satellite Server 
wcsWebappSatellite in ThisBuild := "c:/Oracle/WebCenter/Sites/11gR1/App_Server/apache-tomcat-6.0.32/webapps/ss/"

/// front end url - NO slashes at the end please
wcsVirtualHosts += ("Demo" -> "http://demo.loc")

// this regexp must mach the numeric id of the flex blob 
// the first group must be the numeric id of the flex blob
wcsFlexBlobs in ThisBuild := """^/(\d+)\.(jpg|png|gif)$"""

// this regexp must mach the name of the static resource
// the first group must be the name of the static resource 
wcsStaticBlobs in ThisBuild := """^(.*\.(css|js|jpg|png|gif))$"""

// debug 
javacOptions ++= Seq("-g:vars")

