/// Configuration Parameters for Sites 

// site names to import/export
// NOTE: if you change this you need to repeat the offline and online setup
// See http://www.agilesites.org/install.html
wcsSites in ThisBuild := "Demo"

// url to content server - NO slashes at the end please 
// the url must allow access to ContentServer, CatalogManager and Satellite
wcsUrl in ThisBuild := "http://localhost:8080/cs"

// user to import/export
wcsUser in ThisBuild := "fwadmin"

// password to import/export
wcsPassword in ThisBuild := "xceladmin"

// Fatwire/Sites version - currently supported 7.5.0 and 11.1.1.6.0
wcsVersion in ThisBuild := "11.1.1.6.0"

// home directory of WCS - leave it to
wcsHome in ThisBuild := "C:/Oracle/WebCenter/Sites/11gR1/Sites/11.1.1.6.1"

// shared folder
wcsShared in ThisBuild := "C:/Oracle/WebCenter/Sites/11gR1/Sites/11.1.1.6.1/Shared"

// webapp directory of WebCenter Sites 
wcsWebapp in ThisBuild := "C:/Oracle/WebCenter/Sites/11gR1/App_Server/apache-tomcat-6.0.32/webapps/cs"

// location of the csdt-client jar
wcsCsdtJar in ThisBuild := "C:/Oracle/WebCenter/Sites/11gR1/Sites/11.1.1.6.1/csdt-client-1.2.2.jar"

// this regexp must mach the numeric id of the flex blob 
// the first group must be the numeric id of the flex blob
wcsFlexBlobs in ThisBuild := """^/(\d+)\.(jpg|png|gif)$"""

// this regexp must mach the name of the static resource
// the first group must be the name of the static resource 
wcsStaticBlobs in ThisBuild := """^(.*\.(css|js|jpg|png|gif))$"""

/// Configurations options for front-end Satellite and proxy
/// use  "wcs-setup-satellite" to setup the separate satellite host

// webapp directory of WebCenter Sites Satellite 
// wcsWebappSatellite in ThisBuild := "/your/satellite/webappp"

// front end url - NO slashes at the end please
// the following SAMPLE assumes that a reverse proxy is configured 
// mapping http://demo.loc to http://host:port/cs/Satellite/demo
// wcsVirtualHosts += ("Demo" -> "http://demo.loc")

// leave an empty line to support appending extra commands at the end

