<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
<div class="container-fluid">
 <div class="row-fluid">
  <div class="span2">
    Search: <input id="search" ng-model="query">
  </div>
  <div class="span10">
    <ul id="results">
      <li  ng-repeat="phone in phones | filter:query">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
  </div>
 </div>
</div>
</body>
</html>
